@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', 'Helvetica', 'Arial';
	font-size:18px;
}

html, body{
	min-height: 100vh;
	background-color: #f5f5f5;
}
nav{
	height: 100vh;
	width: 25%;
	background-color: #3b2a45;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.3s, transform 0.3s;
	overflow: hidden;
}
nav.mini{
	width: 8vh;
}
nav.mini ul li a i{
	display: flex;
	height: 6vh;
	margin:1vh;
	width: 6vh;
	justify-content: center;
	align-items: center;
}
.menu-small{
	display: flex;
	height: 6vh;
	margin:1vh;
	width: 6vh;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	color: #3b2a45;
	background-color: #f5f5f5;
	cursor: pointer;
}
.menu-small i{
	font-size: 2em;
}
.menu-burger{
	display: flex;
	height: 6vh;
	margin:1vh;
	width: 6vh;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	color: #3b2a45;
	background-color: #f5f5f5;
	position: fixed;
	top:0;
	left: 0;
	cursor: pointer;
	z-index: 4;
}
.menu-burger i{
	font-size: 2em;
}
nav ul{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
nav ul li{
	height: 8vh;
	width: 100%;
	display: block;
}
nav ul li a{
	display: flex;
	height: 100%;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: #f5f5f5;
	justify-content: left;
	align-items: center;
	transition: all 0.3s, transform 0.3s;
}
nav ul li a:hover{
	background-color: rgba(0,0,0,.16);
}

nav ul li a i{
	padding:0 20px;
	font-size: 1.5em;
}
.container{
	width: 75%;
	min-height: 100vh;
	float: right;
	position: relative;
	transition: all 0.3s, transform 0.3s;
}
.container.big{
	width: calc(100% - 8vh);
}
.banner{
	background: linear-gradient(135deg, rgba(161,23,242,1) 0%, rgba(255,0,179,1) 50%, rgba(255,132,76,1) 100%);
	height: 70vh;
}
.banner-pattern{
	height: 100%;
	width: 100%;
	background-image: url(../img/diagmonds.png);
}
.banner-news{
	height: 100%;
	width: 100%;
}
.banner-news img{
	height: 70vh;
	width: 100%;
	position: absolute;
}
.banner-info{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.neon{
	color:#f5f5f5;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ffc543, 0 0 80px #ffc543, 0 0 90px #ffc543, 0 0 100px #ffc543, 0 0 150px #ffc543;
}
h1.neon{
	text-transform: capitalize;
	font-size: 5em;
	font-weight: 300;
	padding:30px 0;
}
h2.neon{
	text-transform: capitalize;
	font-size:2em;
	font-weight: 300;
}

.last-news{
	padding:20px;
}
.news-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.news{
	width: 800px;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	border-radius: 5px;
	margin:20px 0;
	overflow: hidden;
}
.news-banner{
	height: calc(800px / 1.7777777777778);
	width: 100%;
	position: relative;
}
.news-banner img{
	height: 100%;
}
.opacity{
	height: 100%;
	width: 100%;
	background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 44%, rgba(0,0,0,0.1) 100%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.opacity h3{
	color: #f5f5f5;
	font-size: 2.5em;
	font-weight: 100;
}
.news-content{
	padding: 20px;
}
.news-tags{
	width: 100%;
	padding:20px;
}
.tags{
	text-align: center;
	background-color: #3b2a45;
	padding:3px 20px;
	margin:5px;
	border-radius: 15px;
	color: #f5f5f5;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	text-transform: uppercase;
	font-weight: 700;
	transition: all 0.3s, transform 0.3s;
	font-size: 16px;
	font-weight: 300;
	display: inline-block;
}
.news-link{
	height: 6vh;
	width: 100%;
	margin-top: 10px;
	background-color: #3b2a45;
}
.news-link a{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	color:#f5f5f5;
	text-decoration: none;
	transition: all 0.3s, transform 0.3s;
}
.quote{
	padding:50px;
	font-style: italic;
	text-align: right;
}
.btn-like{
	display: inline-flex;
	height: 3vh;
	margin:20px 50px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.btn-like i{
	font-size: 1.3em;
	transition: all 0.3s, transform 0.3s;
}
.like-right{
	text-align: right;
}
.like.active i{
	color:#1dd1a1;
}
.dislike.active i{
	color:#ee5253;
}
.like:hover i{
	color:#1dd1a1;
}
.dislike:hover i{
	color:#ee5253;
}
.like-bar{
	display: flex;
	background-color: #ee5253;
	height: 1vh;
	border-radius: 1vh;
	width: 20%;
	float: right;
}
.progress-like{
	height: 100%;
	background-color: #1dd1a1;
	border-radius: 1vh;
}

.comment{
	position: relative;
	width: 80%;
	padding:20px;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	border-radius:5px;
	margin:40px 5%;
}
.comment:nth-child(odd){
	margin-left:15%;
	background-color: rgba(0,0,0,.05);
}
.comment h3{
	font-size: 1.6em;
	font-weight: 300;
}
.comment-content{
	padding:20px;
}

.page-title{
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 3em;
	font-weight: 100;
}
.page-subtitle{
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 2.5em !important;
	font-weight: 100;
}
.time-left{
	font-size: 1em;
	padding:0 10px;
}

.form{
	display: block;
	width: 90%;
	margin: auto;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	padding: 20px;
	border-radius: 5px;
}
.form-group{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
}
.input{
	height: 5vh;
	padding: 1vh;
	border-radius: 5px;
	border:1px solid #cecece;
}
.textarea{
	height: 30vh;
	padding: 1vh;
	border-radius: 5px;
	border:1px solid #cecece;
}
.i-50{
	width: 48%;
	margin:1% 0;
}
.i-30{
	width: 28%;
	margin:1% 0;
}
.i-70{
	width: 68%;
	margin:1% 0;
}
.i-100{
	width: 98%;
	margin:1% 0;
}
.btn{
	display: flex;
	height: 6vh;
	width: 30%;
	justify-content: center;
	align-items: center;
	border: 3px solid #3b2a45;
	margin:20px auto;
	border-radius: 5px;
	text-decoration: none;
	color: #3b2a45;
	transition: all 0.3s, transform 0.3s;
	cursor: pointer;
}
.btn:hover{
	color: #f5f5f5;
	background-color: #3b2a45;
}
.btn-cancel{
	border: 3px solid #fa8231;
	color:#fa8231;
}
.btn-cancel:hover{
	background-color:#fa8231;
}
.btn-validate{
	border: 3px solid #20bf6b;
	color:#20bf6b;
}
.btn-validate:hover{
	background-color:#20bf6b;
}
.panel{
	width:90%;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	margin: auto;
	padding:20px;
	margin-bottom:50px;
}

footer{
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 8vh;
	width: 100%;
	background-color: #3b2a45;
	color: #f5f5f5;
	justify-content: center;
	align-items: center;
	margin-bottom: -8vh;
}
.form-comment{
	padding:40px 0;
}
.comment-delete{
	display: flex;
	position: absolute;
	width: 4vh;
	height: 4vh;
	background-color: #3b2a45;
	z-index:3;
	right: 10px;
	top: 10px;
	justify-content: center;
	align-items: center;
	color: #f5f5f5;
	border-radius: 5px;
	cursor: pointer;
	transition:all 0.3s, transform 0.3s;
}
.comment-delete:hover{
	background-color: #ee5253;
}

.list{
	width: 90%;
	margin: auto;
	border-collapse: collapse;
}
.list thead tr{
	background: linear-gradient(135deg, rgba(161,23,242,1) 0%, rgba(255,0,179,1) 50%, rgba(255,132,76,1) 100%);
	color: #f5f5f5;
}
.list tbody tr:nth-child(odd){
	background-color: rgba(206, 206, 206, .2);
}
.list tr{
	width: 100%;
	line-height: 6vh;
}
.list td, .list th{
	border:1px solid #cecece;
	padding:0 10px;
}
.btn-action{
	padding:10px;
	text-decoration: none;
	color: #f5f5f5;
	background-color: #3b2a45;
	border-radius: 5px;
	transition:all 0.3s, transform 0.3s;
}
.btn-edit:hover{
	background-color:#fa8231;
}
.btn-delete:hover{
	background-color:#eb3b5a;
}
.btn-check:hover{
	background-color:#20bf6b;
}

.msg{
	width: 90%;
	margin: auto;
	border-radius:5px;
	display: flex;
	flex-direction: row;
	height: 10vh;
	align-items: center;
	justify-content: space-between;
	border:3px solid rgba(0,0,0,.23);
}
.msg-icon{
	height: 100%;
	width: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f5f5f5;
	background-color:rgba(0,0,0,.16);
	border-radius: 5px;
}
.msg-icon i{
	font-size: 3em;
}
.msg-content{
	width: calc(100% - 10vh);
	padding:0 20px;
	font-size:1.3em;
	font-weight: 700;
	color: #f5f5f5;
}
.info-msg{
	background-color:#54a0ff;
}
.error-msg{
	background-color: #ee5253;
}
.warning-msg{
	background-color: #ff9f43;
}
.success-msg{
	background-color: #1dd1a1;
}

.profil_pic{
	width: 20vh;
	height: 20vh;
}
.profil_pic img{
	width: 20vh;
	height: 20vh;
	border-radius: 50%;
	border:5px solid #f5f5f5;
}
.badge-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.badge{
	margin: 20px;
	width: 25vh;
	height: 25vh;
}
.badge-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	position: relative;
}
.badge-icon i.star{
	color: #a3a3a3;
	text-shadow: none;
	position: absolute;
	z-index: 0;
	font-size: 10em;
}
.badge-icon.active i.star{
	color: #3b2a45;
}
.badge-icon i{
	font-size: 3.5em;
	color:#f5f5f5;
	text-shadow: 5px 5px 5px rgba(0,0,0,.23);
	transition: all 0.3s, transform 0.3s;
	z-index: 1;
}
.badge-icon:hover i{
	font-size: 5.5em;
}
.badge-icon:hover i.star{
	font-size: 12em;
}

@media screen and (min-width: 1024px){
	.menu-burger{
		display: none;
	}
}

@media screen and (max-width: 1024px){
	.menu-small{
		display: none;
	}
	nav{
		width: 60% !important;
		left: -60% !important;
		z-index: 3;
		box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
	}
	nav.open{
		left: 0 !important;
	}
	.container{
		width: 100% !important;
	}
	nav ul li a{
		justify-content: center;
	}
	.i-50, .i-30, .i-70{
		width: 98% !important;
		margin:1% 0 !important;
	}
	.comment{
		width: 90% !important;
		margin: 20px auto !important;
	}
}